<footer>
  <div class="footer main-width">
    <div class="footer__text">
      In order to register for this website, the user is required to accept
      the Terms of Service. In the event the Terms of Service are updated,
      existing users may choose to discontinue using the products and services
      before the said update shall become effective, which is a minimum of two
      weeks after it has been announced. In addition to the English language,
      copies may also be available in other languages. However, the original
      English version shall supersede any translations. 1x001.com is operated by
      Caecus N.V., a company incorporated under the laws of Curaçao with Company
      Number 163779, registred at Chuchubiweg, 17, Willemstad, Curacao, and
      licensed by the Curaçao Gaming Control Board to offer games of chance
      under license number OGL/2024/1262/0493 in accordance with the National
      Ordinance on Offshore Games of Hazard (Landsverordening buitengaatse
      hazardspelen, P.B. 1993, no. 63) (NOOGH). The license was granted on
      07/11/2024. Payments are processed by Exidna Enterprises LTD (registration
      number НЕ435756, registered at Agias Zonis, 22B, Limassol, 3027, Cyprus)
      and Evrianassa Enterprises LTD (registration number НЕ435969, registered
      at Agias Zonis, 22B, Limassol, 3027, Cyprus), act as payment agents on
      behalf Caecus N.V. All rights reserved and protected by law. To
      participate in the games, you must first accept to be legally bound by the
      contents of the Responsible Gaming Agreement (RGA), including its Gaming
      Terms of Service (GT&C). It is important to know that the RGA/GT&C
      contains important limitations and restrictions that are imposed for your
      protection and those of others. Before you decide to participate in any
      game, please make sure to carefully review the RGA/GT&C.
    </div>
    <div class="footer__content">
      <div class="footer__copyright">
        Copyright © 2025 «1xBet».<br />
        1xBet использует cookie-файлы, чтобы гарантировать вам максимальное
        удобство. Если Вы остаетесь на сайте, вы соглашаетесь на использование
        нами ваших cookie-файлов на 1xBet. <a href="">Узнать больше</a>
      </div>
      <div class="footer__links">
        <a href="">
          <img src="images/icon1.png" />
        </a>
        <a href="">
          <img src="images/icon2.png" />
        </a>
      </div>
    </div>
  </div>
</footer>
