<div class="games main-width">
  <div class="games__title">Игра начинается — выбери свой способ выиграть!</div>
  <div class="games__list">
    <div class="games__item">
      <div
        class="games__image"
        style="background-image: url('images/game-example.jpg')"
      ></div>
      <div class="games__name">Game</div>
    </div>
    <div class="games__item">
      <div
        class="games__image"
        style="background-image: url('images/game-example.jpg')"
      ></div>
      <div class="games__name">Game</div>
    </div>
    <div class="games__item">
      <div
        class="games__image"
        style="background-image: url('images/game-example.jpg')"
      ></div>
      <div class="games__name">Game</div>
    </div>
    <div class="games__item">
      <div
        class="games__image"
        style="background-image: url('images/game-example.jpg')"
      ></div>
      <div class="games__name">Game</div>
    </div>
    <div class="games__item">
      <div
        class="games__image"
        style="background-image: url('images/game-example.jpg')"
      ></div>
      <div class="games__name">Game</div>
    </div>
    <div class="games__item">
      <div
        class="games__image"
        style="background-image: url('images/game-example.jpg')"
      ></div>
      <div class="games__name">Game</div>
    </div>
  </div>
  <div class="games__tab">
    <picture>
      <source srcset="images/tab-mobile.jpg" media="(max-width: 767px)" />
      <img src="images/tab.jpg" alt="" />
    </picture>
  </div>
</div>
