<div class="promo main-width">
  <div class="promo__item">
    <div class="promo__title">Принимай платежи — зарабатывай как партнёр</div>
    <div class="promo__text">
      Обрабатывай депозиты игроков через свою платёжную систему и получай
      процент от оборота.
    </div>
    <a class="btn btn--s btn--primary" href="">Подробнее</a>
  </div>
  <div class="promo__item">
    <div class="promo__title">Стань аффилиатом — зарабатывай на трафике</div>
    <div class="promo__text">
      Обрабатывай депозиты пользователей через свою систему и получай процент.
    </div>
    <a class="btn btn--s btn--primary" href="">Подробнее</a>
  </div>
</div>
