.main {
    padding: 32px 0;
}
.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
    border-radius: 12px;
    padding: 4vw;

    @media (min-width: 1440px) { 
        padding: 64px;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url(images/main-banner.jpg);
        background-position: center;
        background-size: cover;
        z-index: 0;
        border-radius: 12px;
    }


    &__content {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    &__title{
        font-weight: 700;
        font-size: 5vw;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: var(--semantic-neutral-0);
        max-width: 1000px;
        margin: 0;


        @media (min-width: 1440px) { 
            font-size: 72px;
        }

         @media (max-width: 767px) {    
            font-size: 36px;
            line-height: 122%;
            letter-spacing: -0.06em;                
         }

        span {
            color: var(--semantic-brand-500);
        }
    }

    &__text {
        font-size: 1.7vw;
        line-height: 133%;
        color: var(--base-white-60);
        max-width: 500px;

        @media (min-width: 1440px) {    
            font-size: 24px;
        }

         @media (max-width: 767px) { 
            font-size: 16px;
            line-height: 150%;
         }
    }

    &__promo {
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 4px;
        background: var(--semantic-neutral-0);
        width: 383px;
        position: relative;

         @media (max-width: 767px) { 
            border-radius: 16px;
            height: 52px;
            width: 100%;
         }

        .btn {
            box-shadow: none;
            border-radius: 16px;
             @media (max-width: 767px) { 
                width: 50%;
             }
        }
    }

    .promocode {
        display: block;
        align-items: stretch;
        justify-content: stretch;
        width: 50%;
        position: relative;
        font-size: 18px;
        line-height: 156%;
        color: var(--semantic-neutral-800);

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 100%;
        }

        &__code {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%; 
            top: 0;
            background: var(--semantic-neutral-0);
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;

            &.visible {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}